# -------------------------------------------------------------------
# Starship - Everforest
# -------------------------------------------------------------------

{{- $host_bg := get .host_colours .chezmoi.hostname | default "purple" }}
{{- $fg := "bg_dim" }}
{{- $bg := $host_bg }}
{{- $bold := "" }}

{{- if eq .chezmoi.hostname "adam-laptop" }}
  {{- $fg = "bg_dim" }}
{{- end }}

{{- if eq .chezmoi.username "root" }}
  {{- $bold = "bold"}}
  {{- $fg = "bg_dim" }}
  {{- $bg = "red" }}
{{- end }}

{{- $segment_style := printf "%s fg:%s bg:%s" $bold $fg $bg }}

palette = "everforest_dark_hard"

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

# Disable the package module, hiding it from the prompt completely
#[package]
# disabled = true

format = """
[](fg:{{- $bg }})\
$os\
$username\
$hostname\
[]( fg:{{- $bg }} bg:bg_5)\
$directory\
[](fg:bg_5 bg:bg_4)\
$git_branch\
$git_status\
[](fg:bg_4 bg:bg_3)\
$c\
$rust\
$golang\
$nodejs\
$php\
$java\
$kotlin\
$haskell\
$python\
[](fg:bg_3 bg:bg_2)\
$docker_context\
[](fg:bg_2 bg:bg_1)\
$time\
[](fg:bg_1)\
$line_break$character
"""


[palettes.everforest_dark_hard]
# Core foreground/background
text   = "{{ .colours.fg }}" # Foreground
base   = "{{ .colours.bg_0 }}" # Background 0 (hard)
mantle = "{{ .colours.bg_1 }}" # Background 1
crust  = "{{ .colours.bg_dim }}" # Background Dim
# Everforest backgrounds & greys
bg_dim = "{{ .colours.bg_dim }}"
bg_0 = "{{ .colours.bg_0 }}"
bg_1 = "{{ .colours.bg_1 }}"
bg_2 = "{{ .colours.bg_2 }}"
bg_3 = "{{ .colours.bg_3 }}"
bg_4 = "{{ .colours.bg_4 }}"
bg_5 = "{{ .colours.bg_5 }}"
grey_0 = "{{ .colours.grey_0 }}"
grey_1 = "{{ .colours.grey_1 }}"
grey_2 = "{{ .colours.grey_2 }}"
# Everforest accents
red     = "{{ .colours.red }}"
orange  = "{{ .colours.orange }}"
yellow  = "{{ .colours.yellow }}"
green   = "{{ .colours.green }}"
aqua    = "{{ .colours.aqua }}"
blue    = "{{ .colours.blue }}"
purple  = "{{ .colours.purple }}"

[os]
disabled = false
style = "{{ $segment_style }}"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
SUSE = ""
Raspbian = "󰐿"
Mint = "󰣭"
Macos = ""
Manjaro = ""
Linux = "󰌽"
Gentoo = "󰣨"
Fedora = "󰣛"
Alpine = ""
Amazon = ""
Android = ""
Arch = "󰣇"
Artix = "󰣇"
CentOS = ""
CachyOS = " "
Debian = "󰣚"
Redhat = "󱄛"
RedHatEnterprise = "󱄛"

[username]
show_always = true
style_user = "{{ $segment_style }}"
style_root = "{{ $segment_style }}"
format = "[ $user ]($style)"

[hostname]
ssh_only = false
{{- if eq .chezmoi.hostname "adam-laptop" }}
disabled = true
{{- else }}
disabled = false
format = "[ @{{- .chezmoi.hostname -}} ]( {{ $segment_style }} )"
{{- end }}

[directory]
style = "fg:yellow bg:bg_5"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = "󰝚 "
"Pictures" = " "
"Developer" = "󰲋 "

[git_branch]
symbol = ""
style = "fg:purple bg:bg_4"
format = "[ $symbol $branch ]($style)"

[git_status]
style = "bg:bg_4"
format = '''[([($conflicted$ahead_behind$stashed$modified$staged$renamed$deleted$untracked)]($style)) ]($style)'''
# Per-segment formatting (only appears if that status exists)
conflicted = '[ ](fg:red bg:bg_4)'
ahead      = '[${count}](fg:yellow bg:bg_4)'
behind     = '[${count}](fg:yellow bg:bg_4)'
diverged   = '[${ahead_count}${behind_count}](fg:yellow bg:bg_4)'
stashed    = '[ ${count}](fg:aqua bg:bg_4)'
modified   = '[ ${count}](fg:orange bg:bg_4)'
staged     = '[ ${count}](fg:green bg:bg_4)'
renamed    = '[ ${count}](fg:base bg:bg_4)'
deleted    = '[ ${count}](fg:red bg:bg_4)'
untracked  = '[ ${count}](fg:purple bg:bg_4)'

[nodejs]
symbol = ""
style  = "bg:green"
format = "[[ $symbol( $version) ](fg:green bg:bg_3)]($style)"

[python]
symbol = ""
style  = "bg:blue"
format = "[[ $symbol( $version) ](fg:blue bg:bg_3)]($style)"

[rust]
symbol = ""
style  = "bg:orange"
format = "[[ $symbol( $version) ](fg:orange bg:bg_3)]($style)"

[golang]
symbol = ""
style  = "bg:aqua"
format = "[[ $symbol( $version) ](fg:aqua bg:bg_3)]($style)"

[php]
symbol = ""
style  = "bg:purple"
format = "[[ $symbol( $version) ](fg:purple bg:bg_3)]($style)"

[java]
symbol = ""
style  = "bg:red"
format = "[[ $symbol( $version) ](fg:red bg:bg_3)]($style)"

[kotlin]
symbol = ""
style = "bg:aqua"
format = '[[ $symbol( $version) ](fg:aqua bg:bg_3)]($style)'

[haskell]
symbol = ""
style = "bg:aqua"
format = '[[ $symbol( $version) ](fg:aqua bg:bg_3)]($style)'

[docker_context]
symbol = ""
style  = "bg:bg_2"
format = "[[ $symbol $context ](fg:base bg:bg_2)]($style)"

[time]
disabled = false
time_format = "%R"
style = "bg:bg_1"
format = '[[   $time ](fg:text bg:bg_1)]($style)'

[line_break]
disabled = false

[character]
disabled = false
# Replace the '❯' symbol in the prompt with '➜'
success_symbol = "[󰜴](bold fg:green)"
error_symbol   = "[󰜴](bold fg:red)"
