{{- $cursor_bg := .colours.bg_2 -}}
{{- $status_bg := .colours.bg_green -}}
{{- $selection_bg := .colours.bg_3 -}}

{{- if or (ne .chezmoi.hostname "adam-laptop") (eq .chezmoi.username "root") -}}
  {{- $cursor_bg = .colours.bg_dim -}}
  {{- $status_bg = .colours.bg_dim -}}
  {{- $selection_bg = .colours.bg_dim -}}
{{- end -}}

color-link default "{{ .colours.fg }},default"
color-link comment "{{ .colours.grey_1 }},default"
color-link symbol "{{ .colours.blue }},default"
color-link constant "{{ .colours.purple }},default"
color-link constant.string "{{ .colours.yellow }},default"
color-link constant.string.char "{{ .colours.yellow }},default"
color-link identifier "{{ .colours.green }},default"
color-link statement "{{ .colours.red }},default"
color-link preproc "{{ .colours.red }},default"
color-link type "{{ .colours.blue }},default"
color-link special "{{ .colours.aqua }},default"
color-link underlined "{{ .colours.red }}"
color-link error "{{ .colours.red }},default"
color-link hlsearch "default,{{ .colours.orange }}"
color-link diff-added "{{ .colours.green }}"
color-link diff-modified "{{ .colours.yellow }}"
color-link diff-deleted "{{ .colours.red }}"
color-link gutter-error "{{ .colours.red }},default"
color-link gutter-warning "{{ .colours.blue }},default"
color-link line-number "{{ .colours.grey_2 }},default"
color-link current-line-number "{{ .colours.fg }},{{ $cursor_bg }}"
color-link cursor-line "{{ $cursor_bg }}"	
color-link color-column "{{ $status_bg }}"
color-link statusline "{{ .colours.grey_2 }},{{ $status_bg }}"
color-link tabbar "{{ .colours.grey_2 }},{{ $status_bg }}"
color-link todo "{{ .colours.orange }},default"
color-link selection "{{ .colours.fg }},{{ $selection_bg }}"
