color-link default "{{ .colours.fg }},default"
color-link comment "{{ .colours.grey_1 }},default"
color-link symbol "{{ .colours.blue }},default"
color-link constant "{{ .colours.purple }},default"
color-link constant.string "{{ .colours.yellow }},default"
color-link constant.string.char "{{ .colours.yellow }},default"
color-link identifier "{{ .colours.green }},default"
color-link statement "{{ .colours.red }},default"
color-link preproc "{{ .colours.red }},default"
color-link type "{{ .colours.blue }},default"
color-link special "{{ .colours.aqua }},default"
color-link underlined "{{ .colours.red }}"
color-link error "{{ .colours.red }},default"
color-link hlsearch "default,{{ .colours.orange }}"
color-link diff-added "{{ .colours.green }}"
color-link diff-modified "{{ .colours.yellow }}"
color-link diff-deleted "{{ .colours.red }}"
color-link gutter-error "{{ .colours.red }},default"
color-link gutter-warning "{{ .colours.blue }},default"
color-link line-number "{{ .colours.grey_2 }},default"
color-link current-line-number "{{ .colours.fg }},{{ .colours.bg_2 }}"
color-link cursor-line "{{ .colours.bg_2 }}"	
color-link color-column "{{ .colours.bg_green }}"
color-link statusline "{{ .colours.grey_2 }},{{ .colours.bg_green }}"
color-link tabbar "{{ .colours.grey_2 }},{{ .colours.bg_green }}"
color-link todo "{{ .colours.orange }},default"
color-link selection "{{ .colours.fg }},{{ .colours.bg_3 }}"
